/*cartpage css */

.cart-page{
    padding: 20px;
}
.order-summary-header{
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}
.order-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
}
.cart-items-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
}
.cart-summary{
    width: 30%;
    border: 2px solid black;
    min-width: 280px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: sticky;
    top: 20px;
    box-shadow: 2px 2px 2px 2px #666;
}
.summary-total{
    font-size: 20px;
  font-weight: bold;
}
.checkout-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.checkout-btn:hover {
  opacity: 0.8;
}

/* cart-item css */

.cart-item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #666;
    flex-wrap: wrap;
}
.cartitem-img{
    width: 80px;
    height: 80px;
    background: #eee;
    border-radius: 8px;
  overflow: hidden;
}
.cartitem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-details {
  flex-grow: 1;
  min-width: 150px;
}
.item-title {
  margin: 0;
  font-size: 18px;
}
.item-price {
  color: #666;
}
.update-qty {
  display: flex;
  align-items: center;
  gap: 10px;
}
.qty-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.qty-number {
  font-size: 18px;
}



